{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{# <pre>{{ dump(element|keys) }}</pre> #}

{%
  set printable = [
    'user_picture',
    'account',
    'field_name',
    'field_link',
    'field_about',
    'actions', 
  ]
%}

<form{{ attributes.addClass('ph-form', 'no-shadow', 'p-4', 'hidden').setAttribute('data-collapsible-target', 'user_register') }}>
  <div class="flex items-center justify-between space-x-8"> 
  
    <div class="basis-[25%] mb-8">
      {{ element.user_picture }}
    </div>
    
    <div class="basis-full">
      {{ element.account }}
    </div>
    
    <div class="basis-full">
      {{ element.field_name }}
      {{ element.field_link }}
    </div>
  </div>
  
  
{#   {{ element.footer }} #}
  {{ element.field_about }}
  
  {{ element.actions }}
    
  {% for key, property in element %}
     {{ key not in printable and '#' not in key ? element.property }}
  {% endfor %}  
    
{#   {{ element|without('user_picture', 'account', 'field_name', 'field_link', 'field_about', 'actions', 'children') }}   #}
{#   {{ children }} #}
</form>
