{#
/**
 * @file
 * Theme override for an 'search' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 * - widget_id: Unique id for each instnce of this element.
 *
 * @see template_preprocess_input()
 */
#}
 
{%
  set animation_classes = [
    'animate__animated',
    'animate__bounceIn',
    'animate__delay-1s',
  ]
%}

{% 
  set input_classes = [
    'search-widget',
    'scale-x-0',
    'invisible',
  ]
%}

{% 
  set icon_classes = [
    'toggle-default',
    'material-icons-outlined',
    'fab-icon',
  ]
%}

{% 
  set close_icon_classes = [
    'toggle-close',
    'hidden',
    'animate__animated',
    'animate__fadeIn',
   ]
%}

{% apply spaceless %}
<div{{ create_attribute({'class': 'fab-parent'}) }}>
  <input{{ attributes.addClass(input_classes).setAttribute('data-collapsible-search-target', widget_id) }} />
  <div{{ create_attribute({'class': animation_classes}) }}>
    <div{{ create_attribute({'class': 'fab-wrapper' }) }}>
      <i{{ create_attribute({'class': icon_classes }).setAttribute('data-collapsible-search', widget_id).setAttribute('role', 'button') }}>search</i>
      <i{{ create_attribute({'class': icon_classes }).addClass(close_icon_classes).setAttribute('role', 'button') }}>close</i>
    </div>
  </div>
</div>
{{ children }}
{% endapply %}