{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - file_size: The size of the file.
 *
 * @see template_preprocess_file_link()
 * @see stable_preprocess_image_widget()
 */
#}
{% if icon %}
  <span{{ attributes.addClass(['flex', 'items-center', 'space-x-2', 'mt-4', 'mb-4']) }}>
    <i class="material-icons-outlined">{{ icon }}</i>
    {{ link }}
  </span>
{% else %}
  <span{{ attributes.addClass('hidden') }}>{{ link }}</span>
{% endif %}

