{#
/**
* @file
* Theme override to display the file entity as a video tag.
*
* Available variables:
* - attributes: An array of HTML attributes, intended to be added to the
*   video tag.
* - files: And array of files to be added as sources for the video tag. Each
*   element is an array with the following elements:
*   - file: The full file object.
*   - source_attributes: An array of HTML attributes for to be added to the
*     source tag.
*/
#}
 
{% 
  set wrapper_classes = [ 
    'relative',
    'w-full',
  ]
%}

{%
  set video_classes = [
   'w-full',
  ]
%}

{%
  set overlay_classes = [
    'w-full',
    'bg-slate-100',
    'absolute',
    'z-10',
    'inset-0',
    'opacity-20',
  ]
%}

{%
  set icon_classes = [
    'inset-center-1.5',
    'top-1/2',
    'right-auto',
    'bottom-auto',
    'rounded-full',
    'bg-gray-500',
    'opacity-80',
    'text-5xl',
    'text-lime-200',
    'absolute',
    'z-20',
    'h-12',
    'w-12',
    'animate-none',
    'hover:animate-pulse',
  ]
%}

<div{{ create_attribute({'class': wrapper_classes}).setAttribute('data-video-wrapper', '') }}>
  <div{{ create_attribute({'class': overlay_classes}).setAttribute('data-video-overlay', '') }}></div>
  <div{{ create_attribute({'class': icon_classes}).setAttribute('role', 'button').setAttribute('data-video-play', '') }}>
    <svg xmlns="http://www.w3.org/2000/svg" class="text-lime-200 bg-gray-500 fill-lime-200 rounded-full" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M8 5v14l11-7z"/></svg>
  </div>  
  <video {{ attributes.addClass(video_classes).setAttribute('preload', 'metadata') }}>
    {% for file in files %}
      <source {{ file.source_attributes }} />
    {% endfor %}
  </video>
</div>